<template>
    <Page>
        <ActionBar>
            <Label text="Home"></Label>
        </ActionBar>

        <GridLayout>
            <Label class="info">
                <FormattedString>
                    <Span class="fas" text.decode="&#xf135; "/>
                    <Span :text="message"/>
                </FormattedString>
            </Label>
        </GridLayout>
    </Page>
</template>

<script>
import * as firebase from "nativescript-plugin-firebase/app";
import { GeoCollectionReference, GeoFirestore, GeoQuery, GeoQuerySnapshot } from 'geofirestore';
    
    export default {
        computed: {
            message() {
                return "Blank {N}-Vue app";
            }
        },
        methods:{
            getLocations(){
            const firestore = firebase.firestore();

            
             // Create a GeoFirestore reference
            const geofirestore = new GeoFirestore(firestore);
            // Create a GeoCollection reference
            const geocollection = geofirestore.collection('locations');
            
            // Add function
            // geocollection.add( {
            //     score:500,
            //     name: "new point 2",
            //     coordinates: firestore.GeoPoint(41.7580, -72.9850)
            // });

                  
            // Create a GeoQuery based on a location
            const query = geocollection.near({ center: firestore.GeoPoint(40.7589, -73.9851), radius: 1000 });
            
            query.onSnapshot(snapshot => {
                snapshot.forEach(location => console.log(location.data()));
            });
            
            // Get query (as Promise)
            // query.get().then((value) => {
            // // All GeoDocument returned by GeoQuery, like the GeoDocument added above
            // value.docs.forEach(location => console.log(location.data(),location.distance));           
            // });

            // get document snapshot
            // geocollection.doc('38UjSmrjY7xa4kE8zRzo').onSnapshot(snapshot => {
            //     console.log(snapshot.data());
            // });

            // geocollection.onSnapshot(snapshot => {
            //     console.log('inside snapshot');
            //     snapshot.forEach(location => console.log(location.data()));
            // });

            // Direct query on firestore without help of GeoFirestore
            // const locationCollection = firebase.firestore().collection('locations');            
            // const orderBy = locationCollection.orderBy('g');
            // const range = orderBy.startAt('dr5ru7vty1').endAt('dr5ru7vty1');
            // range.onSnapshot( snapshot => {
            //     snapshot.forEach(location => console.log(location.data()));
            // });
             }
        
    },  
        mounted(){
            this.getLocations();
        }
    };
</script>

<style scoped lang="scss">
    @import '~@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: center;
    }
</style>
